body {
  background-color: white;
}

a {
  text-decoration: none;
}

/* main 부분 코드 */

.day_night {
  width: 70px;
  height: 70px;
  /* background-color: grey; */
  position: absolute;
  top:0;
  right:0;
}


/* @media only screen and (max-width: 768px) {
  .day_night {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 0 auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
} */


.night {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom:0;
  left:0;
  opacity: 0.5;
  margin-bottom: 20px;
  margin-left: 20px;
}

#night {
  width: 25px;
  height: 25px;
  position: absolute;
  top:0;
  right:0;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 15px;
}

.night:hover, #night:hover {
  opacity: 1;
}

.box {
  position: absolute;
  width: 700px;
  height: 600px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* top: 50%;
  left: 50%; */
  margin: auto;
  text-align: center;
  /* transform: translate( -50%, -50%); */
}

@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
    height: 730px;
    position: absolute;
    top: 80;
    bottom: auto;
    /* transform: translate( -50%, -50%); */
  }
}

/* @media only screen and (max-width: 429px) {
  .box {
    min-width: 429px;
  }
} */


.box2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  display: inline-block;
  font-family: 'Song Myung', serif;
  font-size: 50px;
  margin-left: 23px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.beta {
  display: inline-block;
  margin-top: 0.5em;
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 11px;
  vertical-align: top;
  color: #29AB87;
  font-weight: 100;
}

.quote {
  margin-top: 25px;
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.peter {
  margin-top: -7px;
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: grey;
}

.aboutfwbox {
  margin-top: 30px;
}

.aboutfw {
  font-weight: 200;
  color: #29AB87;
  opacity: 0.5;
  font-size: 15px;
  font-family: 'Noto Serif KR', sans-serif;
  transition: all 0.5s;
}

.aboutfw:hover {
  opacity: 1;
  font-weight: 400;
  font-size: 17px;
  color: #29AB87;
}

.min3, .min5, .min10 {
  display: inline-block;
  width: 170px;
  color: black;
  height: 170px;
  text-align: center;
  border-radius: 85px;
  margin: 50px 20px 70px;
  font-family: 'Noto Serif KR', sans-serif;
  vertical-align: middle;
  line-height: 170px;
  font-size: 20px;
  transition: all 0.7s;
  opacity: 0.5;}


@media only screen and (max-width: 768px) {
  .min3, .min5, .min10 {
    display: inline-block;
    width: 80%;
    height: 100px;
    margin: 30px 20px 0;
    line-height: 100px;
    border-radius: 35px;
  }
}



.min3:hover, .min5:hover, .min10:hover {
  opacity: 1;
  font-weight: 400;
  color: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.min3 {
 background-color: #DCF8C6;
}

.min5 {
 background-color: #25D366;
}

.min10 {
 background-color: #128C7E;
}

footer {
  color: grey;
  /* position: absolute; */
  display: inline-block;
  font-size: 12px;
  width: 100%;
  height: 40px;
  margin: auto;
  font-family: 'Noto Serif KR', sans-serif;
  font-weight: 100;
  opacity: 0.4;
  transition: all 0.7s;
  text-align: center;

}

@media only screen and (max-width: 768px) {
  footer {
    width: 100%;
    /* background: grey; */
    margin-top: 30px;
    height: 70px;
  }
}


/* introduction 부분 코드 */


.boxI {
  position: absolute;
  width: 768px;
  height: 540px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /* transform: translate( -50%, -50%); */
}


@media only screen and (max-width: 768px) {
  .boxI {
    width: 100%;
    top: 80;
    bottom: auto;
  }
}

/* @media only screen and (max-width: 500px) {
  .boxI {
    min-width: 500px;
  }
} */

.title2 {
  display: inline-block;
  font-family: 'Song Myung', serif;
  font-size: 25px;
}

.p1{
  margin-top: 20px;
  line-height: 2.3em;
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 15px;
  font-weight: 300;
  word-break: keep-all;
}

@media only screen and (max-width: 768px) {
  .p1 {
    font-size: 18px;
  }
}

.important {
  font-weight: 700;
  color: #29AB87;
}


.back {
  font-family: 'Noto Serif KR', sans-serif;
  opacity: 0.3;
  margin-top: 20px;
  color: black;
}

.back:hover {
  font-family: 'Noto Serif KR', sans-serif;
  opacity: 1;
  margin-top: 20px;
  color: black;
}

@media only screen and (max-width: 768px) { .backbox {
    height: 70px;
    line-height: 50px;
  }
}


/* text 부분 코드 */


.textarea:active {border-style: none;}
.textarea:focus {outline: none;}

.tools {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  left: 0;
  position: fixed;
  background-color: white;
  opacity: 0.95;
  -webkit-backface-visibility: hidden;
}


@media only screen and (max-width: 768px) {
  .tools, #day_night, .textbody  {
    margin-top: -20px;
  }
}

/* @media only screen and (max-width: 768px) {
  .tools {
    height: 80px;
  }
} */

.tool_box {
  /* position: absolute; */
  position: fixed;
  width: 740px;
  height: 50px;
  top: 0;
  /* bottom: 0; */
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .tool_box {
      width: 100%;
      /* bottom: auto; */
    }
  }

@media only screen and (max-width: 300px) {
    .tool_box {
      min-width: 300px;
    }
  }


.first {
  position: fixed;
  top: 50;
  margin: 0 auto 0;
  width: 100%;
  height: 20px;
  color: grey;
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 14px;
  font-weight: 100;
  /* padding-left: 14px; */
  text-align: center;
}

@media only screen and (max-width: 768px) {
    .first {
      margin-top: 0;
    }
  }

.firsttext {
  display: inline-block;
  text-align: left;
  /* padding-left: 14px; */
  width: 700px;
}

@media only screen and (max-width: 768px) {
      .firsttext {
        display: inline-block;
        text-align: left;
        padding-left: 14px;
        width: 100%;
      }
    }




/* @media only screen and (max-width: 300px) {
    .first {
      min-width: 300px;
    }
  } */





.boxT[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: grey;
}

.boxT[contenteditable=true]{
    margin: 80px auto 0;
    padding-top: 20px;
    padding-bottom: 120px;
    width: 700px;
    outline: transparent solid 0;
    min-height: 300px;
    font-family: 'Noto Serif KR', sans-serif;
    caret-color: #29AB87;
    color:black;
    font-size: 25px;
    font-weight: 200;
  }

@media only screen and (max-width: 768px) {
    .boxT[contenteditable=true] {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      padding-left: 10px;
      margin-top: 100px;
    }
  }

@media only screen and (max-width: 300px) {
    .boxT[contenteditable=true] {
      min-width: 300px;
    }
  }


.left_time {
  display: inline-block;
  text-align: left;
  font-family: 'Noto Serif KR', sans-serif;
  line-height: 50px;
  width:700px;
  font-size: 18px;
  color: grey;
  padding-left: 5px;
  /* background-color: grey; */
}

@media only screen and (max-width: 768px) {
    .left_time {
      width: 100%;
      padding-left: 20px;
    }
  }

.left_sec {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 60px;
  font-family: 'Noto Serif KR', sans-serif;
  text-align: left;
  line-height: 50px;
  font-size: 18px;
  height: 50px;
  margin-left: 115px;

}

.finishBox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* background-color: grey; */
}


.xinkule {
  position: absolute;
  margin: auto auto 24px auto;
  width: 400px;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fin {
  color: #29AB87;
  font-weight: 500;
}
